html, body {
	height:100%;
}

body {
	overflow:hidden;
	-webkit-overflow-scrolling:touch;
}

// Needed classes for Angular ng-cloak
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none;
}

// Force hardware acceleration in iOS - useful for some elements
.animated, .animate-fix {
	-webkit-transform: translateZ(0);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}

a {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  	-webkit-tap-highlight-color: transparent; /* For some Androids */
	-ms-touch-action: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	min-height:44px;
	min-width:44px;
	display:inline-block;
	line-height:44px!important;
	* {
		line-height:normal;
	}
	&:hover {
		text-decoration: none;
	}
}

.tap-icon {
	min-height:44px;
	min-width:44px;
	text-align:center;
}

.update_dropdown {
	z-index:2;
	margin-top:$navbarHeight;
}
