// Platform variables
$FontAwesomePath: "../resources/fonts";

// App variables
$primaryColor: #dd0077 !default;
$secondaryColor: #f2a602 !default;
$backgroundColor: #fafafa !default;
$invertedTextColor: #fafafa !default;

$innerSideMargin: 20px !default; // side margin for inner containers
