<?xml version="1.0" encoding="UTF-8"?>

<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "undefined.doctest"
        version   = "0.0.0">

    <name>doctest</name>

    <description>
        doctest description.
    </description>

    <author>
        Author Name
    </author>

    <access origin="*"/>

    <!-- Preferences for iOS -->
    <preference name="AllowInlineMediaPlayback" value="false" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="BackupWebStorage" value="cloud" />
    <preference name="DisallowOverscroll" value="false" />
    <preference name="EnableLocation" value="false" /><!-- DEPRECATED -->
    <preference name="EnableViewportScale" value="false" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value=".25" />
    <preference name="HideKeyboardFormAccessoryBar" value="false" />
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="KeyboardShrinksView" value="false" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="TopActivityIndicator" value="gray" />

    <!-- iOS Features -->
    <feature name="Geolocation">
      <param name="ios-package" value="CDVLocation"/>
    </feature>
    <feature name="Device">
      <param name="ios-package" value="CDVDevice"/>
    </feature>
    <feature name="Accelerometer">
      <param name="ios-package" value="CDVAccelerometer"/>
    </feature>
    <feature name="Compass">
      <param name="ios-package" value="CDVLocation"/>
    </feature>
    <feature name="Media">
      <param name="ios-package" value="CDVSound"/>
    </feature>
    <feature name="Camera">
      <param name="ios-package" value="CDVCamera"/>
    </feature>
    <feature name="Contacts">
      <param name="ios-package" value="CDVContacts"/>
    </feature>
    <feature name="File">
      <param name="ios-package"  value="CDVFile"/>
    </feature>
    <feature name="NetworkStatus">
      <param name="ios-package" value="CDVConnection"/>
    </feature>
    <feature name="Notification">
      <param name="ios-package" value="CDVNotification"/>
    </feature>
    <feature name="FileTransfer">
      <param name="ios-package" value="CDVFileTransfer"/>
    </feature>
    <feature name="Capture">
      <param name="ios-package" value="CDVCapture"/>
    </feature>
    <feature name="Battery">
      <param name="ios-package" value="CDVBattery"/>
    </feature>
    <feature name="SplashScreen">
      <param name="ios-package" value="CDVSplashScreen"/>
    </feature>
    <feature name="Echo">
      <param name="ios-package" value="CDVEcho"/>
    </feature>
    <feature name="Globalization">
      <param name="ios-package" value="CDVGlobalization"/>
    </feature>
    <feature name="InAppBrowser">
      <param name="ios-package" value="CDVInAppBrowser"/>
    </feature>
    <feature name="Logger">
      <param name="ios-package" value="CDVLogger"/>
    </feature>
    <feature name="LocalStorage">
        <param name="ios-package" value="CDVLocalStorage"/>
    </feature>
    <!-- Deprecated plugins element. Remove in 3.0 -->
    <plugins>
    </plugins>


    <!-- Preferences for Android -->
    <!-- <preference name="splashscreen" value="resourceName" />
    <preference name="backgroundColor" value="0xFFF" />
    <preference name="loadUrlTimeoutValue" value="20000" />
    <preference name="InAppBrowserStorageEnabled" value="true" />
    <preference name="disallowOverscroll" value="true" /> -->

    <!-- Android Features -->
    <feature name="App">
      <param name="android-package" value="org.apache.cordova.App"/>
    </feature>
    <feature name="Geolocation">
      <param name="android-package" value="org.apache.cordova.GeoBroker"/>
    </feature>
    <feature name="Device">
      <param name="android-package" value="org.apache.cordova.Device"/>
    </feature>
    <feature name="Accelerometer">
      <param name="android-package" value="org.apache.cordova.AccelListener"/>
    </feature>
    <feature name="Compass">
      <param name="android-package" value="org.apache.cordova.CompassListener"/>
    </feature>
    <feature name="Media">
      <param name="android-package" value="org.apache.cordova.AudioHandler"/>
    </feature>
    <feature name="Camera">
      <param name="android-package" value="org.apache.cordova.CameraLauncher"/>
    </feature>
    <feature name="Contacts">
      <param name="android-package" value="org.apache.cordova.ContactManager"/>
    </feature>
    <feature name="File">
      <param name="android-package" value="org.apache.cordova.FileUtils"/>
    </feature>
    <feature name="NetworkStatus">
      <param name="android-package" value="org.apache.cordova.NetworkManager"/>
    </feature>
    <feature name="Notification">
      <param name="android-package" value="org.apache.cordova.Notification"/>
    </feature>
    <feature name="Storage">
      <param name="android-package" value="org.apache.cordova.Storage"/>
    </feature>
    <feature name="FileTransfer">
      <param name="android-package" value="org.apache.cordova.FileTransfer"/>
    </feature>
    <feature name="Capture">
      <param name="android-package" value="org.apache.cordova.Capture"/>
    </feature>
    <feature name="Battery">
      <param name="android-package" value="org.apache.cordova.BatteryListener"/>
    </feature>
    <feature name="SplashScreen">
      <param name="android-package" value="org.apache.cordova.SplashScreen"/>
    </feature>
    <feature name="Echo">
      <param name="android-package" value="org.apache.cordova.Echo"/>
    </feature>
    <feature name="Globalization">
      <param name="android-package" value="org.apache.cordova.Globalization"/>
    </feature>
    <feature name="InAppBrowser">
      <param name="android-package" value="org.apache.cordova.InAppBrowser"/>
    </feature>
    <!-- Deprecated plugins element. Remove in 3.0 -->
    <plugins>
    </plugins>


</widget>